body {
  font-family: brandon-grotesque;
}

table {
  border-collapse: collapse; 
  padding: 0.5rem;
}

th, td {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
}

.form-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#csv-label{
  text-align: center;
}

#csv-file {
  padding: 5px;
  cursor: pointer;
}

#submit{
  background: #258834;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 0px;
  cursor: pointer;
}

.data-wrapper{
  display: flex;
  max-width: 88%;
  max-height: 100%;
  margin-left: 1rem;
}

@media screen and (min-width: 320px) and (max-width:768px) {
  .data-wrapper {
    display: inline;
  }
}